/* News section in the first page
 */

.news p{ /* Reduce margin in the news section*/
  margin-bottom: 1ex;
}

.news_date{
  font-style: italic;
}
@media (min-width: 800px){ /*more than a tablet*/
  .news_header{
    width: 100%;
    min-width: 100%;
    display: inline-flex;
    flex: 1;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .news_date{
    font-style: normal;
    font-size: 110%;
  }
}
