{% import "_globals.html" as glob %}
{% macro h_anchor(level=2, title="", id="", classes="") %}
<h{{level}} id="{{id}}" class="{{classes}}">{{_(title)}}
<a href="#{{id}}" class="anchor">¶</a>
</h{{level}}>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="ElenQ Techonolgy - {{title}}"/>
    <meta property="og:image" content="{{ image if image else "https://elenq.tech/static/img/ElenQTechLogoSimple.png" }}"/>
    <meta property="og:site_name" content="ElenQ Technology"/>
    <meta property="og:description" content="{{ description if description else _("Ethical Innovation")}}"/>

    <meta name="referrer" content="no-referrer">
    <title>ElenQ Tech - {{title}} </title>

    {% block includes %}
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    {% endblock includes %}
  </head>
  <body>
  <!-- page content -->
      <header class="mainheader">

        <!-- Main navigation -->
        <div class="container">
        <nav class="navbar">
          <div class="navbar-left">
            <a class="navbar-link link-left" href="/{{lang}}/index.html"    title={{_('Home')}}       >{{ _('Home')}}</a>
            <a class="navbar-link link-left" href="/{{lang}}/services.html" title={{_('Services')}}   >{{ _('Services') }}</a>
            <a class="navbar-link link-left" href="/{{lang}}/about.html"    title={{_('About')}}      >{{ _('About') }}</a>
            <a class="navbar-link link-left" href="/{{lang}}/contact.html"  title={{_('Contact')}}    >{{ _('Contact') }}</a>
            <a class="navbar-link link-left" href="/{{lang}}/support.html"  title={{_('Support')}}    >{{ _('Support') }}</a>
          </div>

          <hr class="short navbar-separator"/>
          <!--TODO CHECK THAT PAGENAME-->
          <div class="navbar-right">
          {% for l in all_langs %}
          <a class="navbar-link link-right" href="/{{l}}/{{pageName}}" title={{glob.langs[l]}}>{{l}}</a>
          {% endfor %}
          </div>
        </nav>
        </div>
      </header>

  <div class="content container">{% block content %}{% endblock content %}</div>
  <div class="bar-bottom">
    <div class="container text-center">
      <h6>&#169; ElenQ Technology</h6>
      {% filter translate %}
      Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Share Alike 4.0 International</a> license.<br/>
      The <a href="http://gitlab.com/elenq/site">source code</a> of the page is <a rel="license" href="https://opensource.org/licenses/MIT">MIT licensed</a>.<br/>
      {% endfilter %}
    </div>
  </div>


  </body>

  {% block scripts %}{% endblock scripts %}
</html>
