{% extends "./_template.html" %}
{% import "_globals.html" as glob %}

{% set title = _("About") %}

{% block includes %}
{{ super() }}
{% endblock includes %}

{% block content %}
{{ super() }}
  <h1 class="text-center">{{_("About")}}</h1>

    <!--
    - Falta de ética en la innovación
      - Sólo piensan en el dinero
      - Empresas pequeñas -> conservan ética
    - Mi único talento es aprender y esforzarme
    - Ayudar a las empresas a crecer
    - Me llena el software libre
    -->

  <section>
    <p>{% filter translate %}
    ElenQ Technology was created with the main goal of helping people and small
    to mid-sized companies to grow technologically, giving them the chance to
    dedicate some resources to <b>Research and Development</b> even if they are
    not able to maintain their own R&amp;D department.</p><p>
    <b>Training</b> and <b>engineering</b> are secondary services we consider
    we must provide to be coherent with our goal. The reality is the clients we
    target usually need to put training aside and are forced to develop
    their ideas in their free time because they are too busy in their main
    activities. We believe we must help with that too in order to speed up the
    technical growth of our society.</p><p>
    Our team is formed by flexible and open-minded people who love to learn new
    things, that's the reason why we can fill that gap. We are interested in
    almost every field and our background is broad.</p><p>
    The company is formed by:
    {% endfilter %}</p>

    <!-- EKAITZ -->
    <div class="card">
      <div class="card-picture">
        <img class="round" src="/static/img/faces/ekaitz.jpg" />
      </div>

      <div class="card-data">
      {{ h_anchor(3, "Ekaitz Zárraga", "ekaitz") }}
      <p>{% filter translate %}
      Founder of ElenQ Technology. Telecommunication Engineer.<br/> He is the
      one man army of the ElenQ Technology. He works as Research and Development
      engineer but he also makes everything else at the moment.<br/>
      He usually says his only talent is learning. He founded ElenQ Technology
      with the idea of inspiring others to make a better world helping them
      with the difficult task of going out of their comfort zone.<br/>
      He's interested in almost everything. You can check his
      <a href="http://ekaitz-zarraga.github.io/cv">CV here</a>.
      {% endfilter %}</p>
      </div>
    </div>
  </section>

  <section>
    {{ h_anchor(2, "Our Principles", "principles") }}
      <p>{% filter translate %}
      ElenQ Technology is built on top of he principles of free knowledge and
      social justice we believe in. Our principles aim to build the maximum
      trust in our clients and contribute to a free society.</p><p>
      <ul>
      <li>We support the free software and hardware community.</li>
      <li>We keep it simple, we follow <i>KISS philosophy</i>.</li>
      <li>We consider communication to be a fundamental part of the R&amp;D
        process.
        <blockquote>"The single biggest problem in communication is the
          illusion that it has taken place." <br/>
          — George Bernard Shaw</blockquote></li>
      <li>We never propose anything you don't need.</li>
      <li>We practice <a href="#ethical-innovation">Ethical Innovation</a>.
      </ul>{% endfilter %}</p>

      {{ h_anchor(3, "Ethical Innovation", "ethical-innovation") }}
      <p>{% filter translate %}
      Ethical Innovation is a group of rules which define the points that any
      innovation process must fulfill to be ethical and contribute to a better
      society.
      {% endfilter %}</p>

      <div class="step">
        <h4 class="step-title" id="project-selection">{{_("Project selection")}}</h4>
        <div class="step-content">
        <p>{% filter translate %}
          Only take part in projects which respect human rights, human effort
          and human experience. Practice <a
          href="http://ind.ie/manifesto">Ethical Design</a>.
        {% endfilter %}</p>
        </div>
      </div>

      <div class="step">
        <h4 class="step-title" id="freedom">{{_("Free as in Freedom")}}</h4>
        <div class="step-content">
        <p>{% filter translate %}
          Use copyleft licenses so the clients are free to audit,
          change, copy and redistribute the solutions.
        {% endfilter %}</p>
        </div>
      </div>

      <div class="step">
        <h4 class="step-title" id="documentation">{{_("Documentation is Freedom")}}</h4>
        <div class="step-content">
        <p>{% filter translate %}
          Dedicate special efforts to document all the taken decisions, this
          allows the client to understand everything or ask a third party for
          help.
        {% endfilter %}</p>
        </div>
      </div>

      <div class="step">
        <h4 class="step-title" id="give-back">{{_("Give back to the commons")}}</h4>
        <div class="step-content">
        <p>{% filter translate %}
          Share what you learn, don't hide it as a treasure. Knowledge must be
          open. A democratic society is impossible without democratic knowledge.
          {% endfilter %}</p>
        </div>
      </div>
  </section>

  <section>
    <h2 id="more-info">{{_("More information")}}</h2>
    <p>{% filter translate %}
    If you want more information don't hesitate to <a href="contact.html">contact us</a>.
    {% endfilter %}</p>
  </section>

  <section>
    <h2 id="support">{{_("Support")}}</h2>
    <p>{% filter translate %}
    If you agree with our values and want to help please consider <a href="support.html">supporting us</a>.
    {% endfilter %}</p>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
