{% extends "./_template.html" %}
{% import "_globals.html" as glob %}

{% set title = _("Contact") %}

{% block includes %}
{{ super() }}
{% endblock includes %}

{% block content %}
{{ super() }}
  <h1 class="text-center">
    {{_("Contact")}}
  </h1>

  <section>
    {{ h_anchor(2, "Email", "email") }}
    <p>{% filter translate %}
    You can reach us at <b>hello@elenq.tech</b>.</p><p>
    We support PGP encrypted email for private communication.
    <a href="/static/files/publickey.hello@elenq.tech.txt">This is our key</a>.
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "Location", "location") }}
    <p>{% filter translate %}
    We are located in Bilbao, Spain.<br/>
    If you are interested in meeting us, please contact us first so we can
    arrange a place and a time to meet.
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "Social media", "social-media") }}

    <p>{% filter translate %}
    ElenQ Technology is not present at the most common social media platforms.
    We respect your privacy, so we'll never encourage you to use any service
    that threatens it.
    {% endfilter %} </p>

    <p>{% filter translate %}
    Individually, some of us can be found on <a href="http://mastodon.social">
      Mastodon</a> or <a href="https://gnu.io/social/">GNU-Social</a>,
    interoperable social media platforms that are based on free software and
    <b>respect human rights</b>.
    {% endfilter %}</p>

    <p class="more-info">
    <ul>
      <li>
        {{_("<a href=\"http://mastodon.social/@ekaitz_zarraga\">Ekaitz on Mastodon</a>")}}
      </li>
    </ul>
    </p>

    <p>{% filter translate %}
    Also, some of us can be found on Twitter —even if their data and privacy
    policy goes against human rights— just for practical reasons, but always
    being aware of the implications of this decision. We won't share links to
    those profiles.
    {% endfilter %}
    </p>

    <p>{% filter translate %}
    Please, do not feel tempted by any of us to make yourself a Twitter
    account. Think first.
    {% endfilter %}
    </p>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
