{% extends "./_template.html" %}
{% import "_globals.html" as glob %}

{% set title = _("Services") %}

{% block includes %}
{{ super() }}
{% endblock includes %}

{% block content %}
{{ super() }}
<h1>
  {{_("Services")}}
</h1>

  <section>
    <p>{% filter translate %}
    <i>ElenQ Technology</i> is a <b>Research and Development</b> company. This
    means we learn for you and give you the knowledge back.
    </p><p>
    We also offer <b>training</b> and <b>engineering</b> as secondary services,
    which means we can help you with that project that never gets finished
    because you must focus on more important things like clients and
    maintenance.
    </p><p>
    Our experience is based on <b>Software and Electronics</b> but we also have
    a background on arts, design and other fields. The fact is that we are
    engineers and our main talent is learning anything so don't hesitate to <a
    href="contact.html">contact us</a> if you think we can help you.
    </p><p>
    We always answer!
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "How does it work", "how-does-it-work") }}
    <p>{% filter translate %}
    We understand R&amp;D as a three step process:
    {% endfilter %}</p>

    <div class="step">
      <h3 id="research" class="step-title">{{_("Research")}}</h3>
      <div class="step-content">
      <p>{% filter translate %}
        During this step we collect information and convert it into knowledge.
        This step is commonly associated to a state-of-the-art analysis.</p><p>
        It can take place in many different ways, for instance, we can work
        with our clients to understand exactly what they need, carry out the
        research in our own way or talk to experts, depending on the project's
        characteristics.
      {% endfilter %}</p>
      </div>
    </div>

    <div class="step">
      <h3 id="development" class="step-title">{{_("Development")}}</h3>
      <div class="step-content">
      <p>{% filter translate %}
        The knowledge adquired in the Research step is used to create a
        solution, product, proof of concept (PoC) or prototype.</p><p> During
        the design and development process, knowledge about risks, challenges
        and different development options is also collected.  </p><p> All the
        design is given to the client in a way it can be audited, changed,
        copied and redistributed.
      {% endfilter %}</p>
      </div>
    </div>

    <div class="step">
      <h3 id="knowledge-transfer" class="step-title">{{_("Knowledge transfer")}}</h3>
      <div class="step-content">
      <p>{% filter translate %}
        All the adquired knowledge is delivered so that it's easy to absorb by
        the client. This includes a user guide of the developed part, a deep
        explanation of how and why it was made and all the knowledge obtained
        from the research process.</p><p>
        There are many ways to carry out this transfer of knowledge:
        documentation, courses and workshops...
      {% endfilter %}</p>
      </div>
    </div>

    <p>{% filter translate %}
    That's the whole R&amp;D process, but all projects are different.
    Depending on the features of the project, some steps could have more
    weight or less. For instance, in <i>all-research</i> projects there's no
    development step. In <i>training</i> projects, there's only knowledge
    transfer.
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "Portfolio", "portfolio") }}

    <p>{% filter translate %}
    This is a selection of our more remarkable projects. You can also check <a
      href="http://gitlab.com/ElenQ">our repository</a> to access all of our
    projects, both finished or under development.{% endfilter %}</p>

    <!-- POSTDATA -->
    <div class="card">
      <!-- Card picture
      <div class="card-picture-right">
        <a href="https://postdata.biz">
        </a>
      </div>
      -->
      <div class="card-data">
      <h3>{{_("Postdata data journalism project")}}</h3>
      {% filter translate %}
      <p><em>Postdata</em> is a project made in collaboration with <a
      href="http://cultumetria.com">Cultumetría</a>. It is data journalism
      project where we analyze the society around us in order to raise
      awareness about various topics. All of it released as <a
      href="https://gitlab.com/ElenQ/Postdata">free software</a>.</p>

      <p> This is a long term project were we periodically add projects and
      journalism articles. The first project analyses the social changes that
      our city, Bilbao, have been suffering during the last years.</p>

      <p><em>Postdata</em> can be visited <a
      href="https://postdata.biz">here</a>.
      {% endfilter %}</p>
      </div>
    </div>

    <!-- SOTAPATROI -->
    <div class="card">
      <div class="card-picture-right">
        <a href="http://sotapatroi.eus">
        <img src="/static/img/projects/sotapatroi.svg"/>
        </a>
      </div>
      <div class="card-data">
      <h3>{{_("Sotapatroi Man Overboard detection system")}}</h3>
      <p>{% filter translate %}
      Sotapatroi is a Man Overboard System based on Arduino and Bluetooth
      Low Energy technologies.  It detects when a member of the tripulation
      falls from the boat and automatically stops the motor and calls the
      emergency service if necessary.
      </p><p>
      ElenQ Technology is currently working on this project, developing a new
      prototype based on Sotapatroi's previous work.{% endfilter %}</p>
      </div>
    </div>

    <!-- ARTODON -->
    <div class="card">
      <!--
      <div class="card-picture-right">
        <div class="text-center">
          <a href="http://gitlab.com/ElenQ/artodon">
          </a>
        </div>
      </div>
      -->

      <div class="card-data">
      <h3>{{_("Artodon Mastodon art gallery")}}</h3>
      <p>{% filter translate %}
      We consider Artodon an art project. It was made to show people they can
      build things on top of the technologies we have and, at the same time,
      support the great community of artists at Mastodon.</p><p>
      A live version of the project can be visited
      <a href="https://elenq.gitlab.io/artodon/">here</a>.
      {% endfilter %}</p>
      </div>
    </div>

    <!-- SCHIUMATO -->
    <div class="card">
      <!--
      <div class="card-picture-right">
        <div class="text-center">
          <a href="http://gitlab.com/ElenQ/schiumato">
          </a>
        </div>
      </div>
      -->

      <div class="card-data">
      <h3>{{_("Schiumato Static Site Generator")}}</h3>
      <p>{% filter translate %}
      Schiumato is the Static Site Generator which handles this website. It
      simplifies the translation process thanks to its template based system. It
      makes use of <i><a href="https://www.npmjs.com/package/i18n_yaml">
      i18n_yaml</a></i>, a barebones translation library made by Ekaitz.</p><p>
      This project is released as free software under the terms of the MIT
      license.{% endfilter %}</p>
      </div>
    </div>
  </section>

  <section>
    <h2 id="support">{{_("Support")}}</h2>
    <p>{% filter translate %}
    If you like what we do but you don't have a project for us consider
    <a href="support.html">supporting us</a> to help us keep changing the world.
    {% endfilter %}</p>
  </section>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}
