{% extends "./_template.html" %}
{% import "_globals.html" as glob %}

{% set title = _("Support") %}

{% block includes %}
{{ super() }}
{% endblock includes %}

{% block content %}
{{ super() }}
<h1>{{_("Support")}}</h1>

  <section>
    {{ h_anchor(2, "Spread the word", "spread")}}
    <p>{%filter translate%}
    You can help us spread the word around the world.</p><p>
    If you want us to talk at an event or collaborate in an activity, please <a
      href="contact.html">contact us</a>.
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "Donate", "donate") }}
    <p>{% filter translate%}
    ElenQ Technology is a company that aims to make the world a better place to
    live in. Supporting us you are supporting a new way to innovate and develop
    technology, a new R&amp;D model based on free knowledge which respects
    human rights and freedom.</p><p>
    The donation methods we propose are based on free software solutions and
    the amounts received are public.
    {% endfilter %}</p>

    <p class="text-center">
      {% filter translate %}
      You can donate using <strong>Bitcoin</strong> to this address:
      {% endfilter %}
      <code class="text-minimal">19ufsc9Q72HJrhmkZNUQC6G7PjEJX5dpNk</code>
    </p>

    <p class="text-center">
      {% filter translate %}
      You can donate using <strong>FairCoin</strong> to this address:
      {% endfilter %}
      <code class="text-minimal">fJCS2cWXm8Ju3Zi9WKXqrXgMua57nzudLK</code>
    </p>

    <p class="text-center">
      {% filter translate %}
      You can make a recurrent donation using
      <a href="http://liberapay.com/ekaitz">Liberapay</a>
      {% endfilter %}
      <br/>
      <span class="text-minimal">
        {{_("(currently to Ekaitz because Liberapay doesn't support GitLab totally yet)")}}
      <span>
    </p>

    {{ h_anchor(3, "Where does the money go?", "donate-where")}}
    <p>{% filter translate %}
    The money we get from donations is used to fund our own ideas which are
    later given back to the commons. Also, we redirect a big part of the funds
    to other projects that ease our lives and share our principles of freedom
    and respect for human rights.
    {% endfilter %}</p>
  </section>

  <section>
    {{ h_anchor(2, "Other", "other-help")}}
    <p>{%filter translate%}
    If you find a different way to help us please <a href="contact.html">contact us</a>
    and let us know. Thank you!
    {% endfilter %}</p>
  </section>

{% endblock %}

{% block scripts %}
{% endblock scripts %}
